{% extends "base.html" %}
<h4> Hallo Aufgabe</h4>
{% block content %}

<div class="container" id="main">

  <ul class="list-group">
	<div class="form-group">

		<form action="{{ url_for('task_create') }}" method="POST">

			<input name="new_task" id="new_task" type="text" class="new-task-form" 
			placeholder="What needs to be done?" size="5", autofocus="autofocus" required>

		</form>

	</div>

	<br>
	
	{% for task in tasks %}
    <li class="list-group-item">
	<div class="left-side">
	</div>

	
	<div class="task-middle">
	

	<p class="task-title" id="task-title-span-{{task.id}}">
	{{ task.title }}
	</p>
	

	
	</div>
	</li>
	{% endfor %}
</div>

{% endblock %}
